body {
    margin: auto;
    font-family: Calibri;
}

#txt{
    position: absolute;
    font-family: Calibri;
    top: 92px;
    left: 38%;
    width: 40px;
    height: 17px;
    font-size:12px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    color: white;
}

.parent {
    top: -208px;
    left: 172px;
    width: 105px;
    height: 32px;
    overflow: hidden;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 12px;
}


.parent a {
    display: block;
    text-align: left;
    font-size: 12px;
    color: black;
    margin: 2px 0px;
    font-family: Calibri;
    position: relative;
    top: -3px;
    left: -2px;
    text-decoration: none;
}

.parent1 {
    top: -186px;
    left: 172px;
    width: 105px;
    height: 35px;
    margin: 4px 0px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 12px;
}


.parent1 a {
    display: block;
    font-size: 15px;
    color: black;
    font-family: Calibri;
    text-align: left;
    position: relative;
    top: 2px;
    left: -2px;
    height: 35px;
    margin: 4px 0px;
    text-decoration: none;
}



.parent2 {
    top: -188px;
    left: 172px;
    width: 105px;
    height: 30px;
    overflow: hidden;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 12px;
}


.parent2 a {
    display: block;
    text-align: left;
    font-size: 14px;
    color: black;
    font-family: Calibri;
    position: relative;
    top: 3px;
    left: -2px;
    height: 30px;
    z-index: 1;
    text-decoration: none;
}

.parent3 {
    top: -186px;
    left: 172px;
    width: 105px;
    height: 35px;
    margin: 4px 0px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 12px;
}


.parent3 a {
    display: block;
    font-size: 12px;
    color: black;
    font-family: Calibri;
    text-align: left;
    position: relative;
    top: -3px;
    left: -2px;
    height: 35px;
    margin: 4px 0px;
    text-decoration: none;
}

.button1 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(festival_icon0.jpeg) no-repeat;
    background-size: 30px 25px;
    background-position:right;
    
}
.button1 {border-radius: 12px;}

.button2 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(line_people1.jpg) no-repeat;
    background-size:30px 25px;
    background-position:right;
    
}
.button2 {border-radius: 12px;}

    
.button3 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(map_icon1.png) no-repeat center;
    background-size:30px 25px;
    background-position:right;

}
.button3 {border-radius: 12px;}

.button4 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(stage_1.jpg) no-repeat;
    background-size: 40px 35px;
    background-position:right;
}
.button4 {border-radius: 12px;}

.button5 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(band_icon2.png) no-repeat center;
    background-position:right;
    background-size: 40px 35px;
}
.button5 {border-radius: 12px;}

.button10 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(bathroom.png) no-repeat;
    background-position:right;
    background-size: 30px 25px;
}
.button10 {border-radius: 12px;}

.button11 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(drinks.png) no-repeat;
    background-position:right;
    background-size: 30px 25px;
}
.button11 {border-radius: 12px;}

.button12 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(food.ico) no-repeat;
    background-position:right;
    background-size: 30px 25px;
}
.button12 {border-radius: 12px;}

.button13 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(add_friend.png) no-repeat;
    background-size: 40px 30px;
    background-position:right;
}
.button13 {border-radius: 12px;}

.button14 {
    height: 100%;
    width: 100%;
    border-color: black;
    background:url(friends.png) no-repeat center;
    background-position:right;
    background-size: 40px 35px;
}
.button14 {border-radius: 12px;}

.button6 {
    position: absolute;
    top: 190px;
    left: 216px;
    border-color: white;
    width: 19px;
    height:19px;
    align-content: center;
    background:url(alarm.png) no-repeat;
    background-position:center;
    background-color: black;
    border-color: black;
    background-size: 10px 10px;
}
.button6 {border-radius: 12px;}

.button7 {
    position: relative;
    top: -207px;
    left:228px;
    border-color: white;
    width: 19px;
    height:19px;
    align-content: center;
    background:url(alarm.png) no-repeat;
    background-position:center;
    background-color: black;
    border-color: black;
    background-size: 10px 10px;
}
.button7 {border-radius: 12px;}

.button20 {
    position: relative;
    top: -207px;
    left:232px;
    border-color: white;
    width: 19px;
    height:19px;
    align-content: center;
    background:url(friends1.png) no-repeat;
    background-position:center;
    background-color: white;
    border-color:black;
    background-size: 18px 18px;
}
.button20 {border-radius: 12px;}

.relogio {
    position: absolute;
    margin-left: center;
    margin-right: center;
    left: 36%;
    top:30%;
}

#relogios{
    display: block;
    position: relative;
    margin-left: center;
    margin-right: center;
    margin-top: center;
    border-color: black;
}

.alarm {
    position: relative;
    top: -186px;
    left: 38%;
    width: 105px;
    height: 70px;
    overflow-y: auto;
}
.alarm a {
    background-color:black;
    border-style: solid;
    border-color: #5eafed;
    font-family: Calibri;
    color: #5eafed;
    text-align:center;
    align-content: center;
    display: block;
    font-size: 12px;
    height: 26px;
    text-decoration: none;
}
.alarm a {border-radius: 12px;}

.alarm a:hover {
    background-color: white;
}

.alarm p {
    background-color:black;
    border-style: solid;
    border-color: #5eafed;
    font-family: Calibri;
    color: #5eafed;
    text-align:center;
    align-content: center;
    display: block;
    font-size: 12px;
    height: 26px;
    text-decoration: none;
}
.alarm p {border-radius: 12px;}

#number {
    position: relative;
    top: -184px;
    left: 172px;
    width: 100px;
    height: 32px;
    font-family: Calibri;
    font-size: 25px;
    background-color: white;
    display: block;
}

input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button {  

   opacity: 1;

}

input[type=time]::-webkit-clear-button {  

   display: none;

}

#alertsuccess { 
    position: relative;
    color:white;
    font-family: Calibri;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    top: -285px;
    left: 171px;
    width: 105px;
    height: 115px;
    border: 1px solid white;
    background-color: black;
    font-size: 20px;
    display: none;
    border-radius: 12px;
}

#alertinsuccess { 
    position: relative;
    color:white;
    font-family: Calibri;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    top: -285px;
    left: 171px;
    width: 105px;
    height: 115px;
    border: 1px solid white;
    background-color: black;
    font-size: 20px;
    display: none;
    border-radius: 12px;
}

#alertinsuccess2 { 
    position: relative;
    color:white;
    font-family: Calibri;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    top: -285px;
    left: 171px;
    width: 105px;
    height: 115px;
    border: 1px solid white;
    background-color: black;
    font-size: 20px;
    display: none;
    border-radius: 12px;
}

.alertconcert {
    position: relative;
    top: -285px;
    left: 172px;
    width: 105px;
    height: 115px;
    background-color: black;
    color:white;
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
    display: none;
}
.alertconcert {border-radius: 12px;}


.menu {
    position: relative;
    top: -186px;
    left: 172px;
    width: 105px;
    height: 70px;
    overflow-y: auto;
}

.menu a {
    background-color:black;
    border-style: solid;
    border-color: #5eafed;
    font-family: Calibri;
    color: #5eafed;
    text-align:center;
    display: block;
    font-size: 18px;
    height: 23px;
    text-decoration: none;
}
.menu a {border-radius: 12px;}

.menu a:hover {
    background-color: white;
}

.menu2 {
    position: relative;
    top: -190px;
    left: 172px;
    width: 105px;
    height: 90px;
    overflow-y: auto;
}

.menu2 a {
    background-color:black;
    border-style: solid;
    border-color: #5eafed;
    font-family: Calibri;
    color: #5eafed;
    text-align:center;
    display: block;
    font-size: 18px;
    height: 20px;
    text-decoration: none;
}
.menu2 a {border-radius: 12px;}

.menu2 a:hover {
    background-color: white;
}
.alarmList {
    position: relative;
    top: -194px;
    border-style: solid;
    border-color: black;
    left: 38%;
    width: 105px;
    height: 70px;
    overflow-y: auto;    
}

.alarmList p {
    background-color:black;
    border-style: solid;
    border-color: #5eafed;
    font-family: Calibri;
    color: #5eafed;
    text-align:center;
    align-items:baseline;
    display: block;
    font-size: 10px;
    height: 23px;
    text-decoration: none;
}

#alarmList1 {
    position: relative;
    top: -190px;
    left: 38%;
    width: 105px;
    height: 80px;
    overflow-y:auto;   
}

#alarmList1 a {
    background-color:black;
    border-style: solid;
    border-color: #5eafed;
    font-family: Calibri;
    color: #5eafed;
    float:inherit;
    display: block;
    font-size: 12px;
    height: 30px;
    text-decoration: none;
    border-radius: 12px;
}

#check {
    color: blue;
    width: 12px;
    height: 12px;
   float: right;
}

.numpad {
    position: relative;
    top: -216px;
    left: 174px; 
    width: 106px;
}

#input {
    position: relative;
    top: -214px;
    left: 200px;
    width: 32px;
    height: 15px;
    background-color: white;
    color: black;
    font-family: Calibri;
    font-size: 12px;
    text-align: left;
    border: 1px solid black;
}

#id {
    position: relative;
    top: -216px;
    left: 180px;
    font-size:9px;
    width: 80px;
    color: white;
}

.Request{
    position: relative;
    width: 105px;
    height: 110px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-family: Calibri;
    background-color: black;
    border-radius: 12px;
    top: -350px;
    left: 171px;
    margin: 0px 0px;
    display: none;
}

.Request button{
    position: relative;
    background-color: white;
    border-radius: 12px;
    top: 22px;
}

#invalidRequest {
    position: relative;
    width: 105px;
    height: 110px;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 45px;
    font-family: Calibri;
    background-color: black;
    border-radius: 12px;
    top: -350px;
    left: 171px;
    display: none;
}

#invalidRequest1 {
    position: relative;
    width: 105px;
    height: 110px;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 45px;
    font-family: Calibri;
    background-color: black;
    border-radius: 12px;
    top: -350px;
    left: 171px;
    display: none;
}

#invalidRequest2 {
    position: relative;
    width: 105px;
    height: 110px;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 45px;
    font-family: Calibri;
    background-color: black;
    border-radius: 12px;
    top: -350px;
    left: 171px;
    display: none;
}


::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background:grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
}

#bands {
    position: relative;
    font-family: Calibri;
    color: white;
    top: -194px;
    left: 39%;
    width: 105px;
    margin: 0px;
    font-size: 18px;
}

#bands1 {
    position: relative;
    font-family: Calibri;
    color: white;
    top: -190px;
    left: 173px;
    width: 105px;
    font-size: 15px;
}
#ACDC {
    position: relative;
    top: -198px;
    left: 198px;
    border: 3px solid black;
}
#ACDC {border-radius: 12px;}


#Agir {
    position: relative;
    top: -185px;
    left: 195px;
    border: 3px solid black;
}
#Agir {border-radius: 12px;}


#GNR {
    position: relative;
    top: -198px;
    left: 198px;
    border: 3px solid black;
}
#GNR {border-radius: 12px;}


#Khalid {
    position: relative;
    top: -185px;
    left: 185px;
    border: 3px solid black;
}
#Khalid {border-radius: 12px;}


#U2 {
    position: relative;
    top: -198px;
    left: 197px;
    border: 3px solid black;
}
#U2 {border-radius: 12px;}


#Xutos {
    position: relative;
    top: -197px;
    left: 197px;
    border: 2px solid black;

}
#Xutos {border-radius: 10px;}


#band_txt {
    position: absolute;
    top: 143px;
    left: 172px;
    width: 105px;
    font-family: Calibri;
    text-align: center;
    font-size: 12px;
    color: white;
}

.Ok {
    position: relative;
    top: -170px;
    left: 214px;
    font-family: Calibri;
    font-size: 18px;
    text-align: center;
    width: 25px;
    height:20px;
    background-color: white;
}
.Ok {border-radius: 12px;}

.Ok1 {
    position: relative;
    top: -219px;
    left: 248px;
    border: 1px solid black;
    font-family: Calibri;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height:15px;
    background-color: white;
}
.Ok1 {border-radius: 12px;}

.back {
    position: relative;
    top: -237px;
    left: 185px;
    width: 20px;
}

.back1 {
    width: 15px;
    height:15px;
    background:url(back.png) no-repeat center;
    border: 1px solid black;
    background-size: 25px 25px;
}


.closebtn {
    color: white;
    font-size: 18px;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.zoom {
    position: relative;
    top: -215px;
    left: 173px;
    opacity: 0.3;
    z-index: 1;
    width: 70px;
}
.zoom:hover {
    opacity: 1;
}


.button8 {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    align-content: center;
    background-color: black;
    border: 1px solid black;
}
.button8 {border-radius: 12px;}

.button9 {
    position: relative;
    top: -193px;
    left: 251px;
    width: 20px;
    height: 20px;
    background:url(filter.png) no-repeat;
    background-size: 18px 18px;
    background-color: black;
    border: 1px solid black;
    z-index: 1;
    opacity: 0.3;
}
.button9 {border-radius: 12px;}

.button9:hover {
    opacity: 1;
}

.button15 {
    position: relative;
    top: -206px;
    left: 230px;
    height: 20px;
    font-size: 12px;
    width: 46px;
    border: 2px solid black;
    border-radius: 12px;
}

#button16 {
    position: relative;
    top: -210px;
    left: 251px;
    width: 20px;
    height: 21px;
    border-radius: 5px;
}


#green {
    color: black;
    border:2px solid black;
    background-color: lawngreen;
}

#yellow {
    color: black;
    border:2px solid black;
    background-color: yellow;
}

#red {
    color: black;
    border:2px solid black;
    background-color: red;
}
    
.container {
    position: relative;
    top: -235px;
    left: 172px;
    width: 106px;
    height: 100px;
    border-radius: 12px;
    overflow-x: auto;
    overflow-y: auto;
}

#map {
    max-width: 600px;
    max-height: 600px;
    transition: transform .2s;
    border-radius: 12px;
}


#appl { 
    position: relative;
    color:white;
    font-family: Calibri;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
    top: -351px;
    left: 171px;
    width: 108px;
    height: 125px;
    background-color: black;
    font-size: 20px;
    display: none;
}



#hour {
    position: relative;
    font-family: Calibri;
    color: aliceblue;
    text-align: left;
    font-size: 30px;
    top:-174px;
    width: 60px;
    left: 180px;
}

#date {
    position: relative;
    font-family: Calibri;
    color: aliceblue;
    text-align: left;
    font-size: 18px;
    top:-174px;
    width: 60px;
    left: 182px;
}